@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');


* {
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8)
}
.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 18s
}
@keyframes zoom {
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}
.banner{
    position: absolute;
    top: 33%;
    left: 16%;
}
.banner h1{
    color: #ffffff;
    font-size: 3.5rem;
    font-family: "Baloo Da 2", serif;
    font-weight: 250;
    text-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 1);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: movebanner 1s 0.5s forwards;
}
.banner p{
    font-family: "Josefin Slab", serif;
    color: #fff;
    font-size: 2rem;
    text-shadow: .2rem .2rem rgba(0, 0, 0, 1);
    margin-bottom: 1rem;
    opacity: 0;
    animation: movebanner 1s 0.7s forwards;
}
.banner button{
    font-family: "Muli", serif;
    color: #fff;
    letter-spacing: .1rem ;
    text-transform: uppercase;
    background-color: background: #cc2b5e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #753a88, #cc2b5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1rem 3rem;
    border: none;
    border-radius: 12px;
    cursor:pointer;  
    opacity: 0;
    animation: movebanner 1s 0.9s forwards;
}
.banner button:hover{
    opacity: 0.92;
}

@keyframes movebanner {
    0%{
    transform: translateY(10rem) rotateY(.30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
    
}
